<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/DotNetMax/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="DotNetMax" />
            <add key="ClearTextPassword" value="f80954bceee9d18bb67c6d05f9e27517774ba078" />
        </github>
    </packageSourceCredentials>
</configuration>